.toggle {
	width: 100px;
	height: 40px;
	background-color: #ccc;
	padding: 5px;
	border-radius: 100rem;
	margin-right: 25px;
	cursor: pointer;
}

.toggle.active {
	background-color: #f62682;
}

.spinner {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.2s ease;
}

.toggle.active .spinner {
	transform: translateX(60px);
}
